@using ToDo.Core.Models.ViewModels
@using ToDo.Constants.Enums;
@model ProjectsVM

@{
    ViewData["Title"] = "Projects";
    bool projectsTab = Model.ProjectsTab == ProjectsTab.Participated;
}

<div class="client-area">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <h3 class="logo">Projects</h3>
            <nav>
                <a class="@(projectsTab ? "active " : "")sideMenuTab" href="@Url.Action("Index", "Projects", new { projectsToGet = (int)ProjectsTab.Participated })">Participated Projects</a>
                <a class="@(!projectsTab ? "active " : "")sideMenuTab" href="@Url.Action("Index", "Projects", new { projectsToGet = (int)ProjectsTab.Created })">Created Projects</a>
            </nav>
        </div>
        <hr class="divider">
    </div>
    <div class="offset"></div>
    <div class="main-part">
        <div class="projects-list">
            <div class="greeting">What will you work on today, <strong>@Model.UserName</strong>?</div>
            <div class="container">
                <a href="@Url.Action(projectsTab ? "Join" : "Create", "Projects")" class="create-project-btn">
                    + @(projectsTab ? "Join" : "Create New") Project
                </a>
                @foreach (var project in Model.Projects)
                {
                    <a href="@Url.Action("Project", "Projects", new { id = project.id })" class="project-link">
                        <div class="project">
                            <div class="project-header">
                                <div class="project-title">@project.title</div>
                                <a href="@Url.Action(projectsTab ? "leave" : "delete", "projects", new { id = project.id })" class="leave-btn">
                                    @(projectsTab ? "Leave" : "Delete")
                                </a>
                            </div>
                            <div class="project-description">
                                @project.description
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
